.charWrap{
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url('images/character.jpg');
    font-size: 1.3rem;
    height: 100%;
    
	.charWrap-info{
		vertical-align: top;
		text-align: left;
		padding: 10px;
	}
	.charWrap-info input{
		font-size: 14pt;
	}
	.charWrap-inventory caption{
		color: black;
		font-size:140%;
		font-weight: bold;
	}
	.charWrap-inventory{
		display: inline;
		color: black;
		text-align: center;
		border-collapse: collapse;
	}
	.charWrap-inventory td, .charWrap-backpack td{
		border: 3px solid black;
		padding: 10px;	
		height: 100px;
		width: 100px;
	}
	.charWrap-stats {
		border: 3px solid black;
	}
	.charWrap-backpack{
		border-collapse: collapse;
		margin-top: -32px;
		margin-left: 3px;
	}
	.charWrap-info input[value="+"]{
		cursor: pointer;
	}
}