<!DOCTYPE html>
<html lang="en">

<head>
	<title>Game</title>
  	<link rel="stylesheet" type="text/css" href="style1.css">

</head>

<body>

<div>
<h1>Welcome to the Game!</h1>
</div> 

<table id="interface" border="1" cellpadding="0" cellspacing="0" align="left">

<tr>
<td class="row1">
	<form method="post" action="/login">
	<label><font color="white">Your login:</font></label><br>
	<input name="login" type="text" class="form-control">
	

	<label><font color="white">Your password:</font></label>
	<input name="password" type="password" class="form-control"><br><br>
 	<button type="submit">Log in</button></form> 
</td>
<td rowspan="5" id="map" width="75%" height="600" vertical-align="top"></td>
<td style="width: 300px;"></td>
</tr>

<tr>
<td class="row1">
	<form method="get" action="/combat">
    <button type="submit">Start fight</button>
    </form></td>
<td></td>
</tr>

<tr>
<td class="row1">
	<form method="get" action="/shop">
    <button type="submit">Shop</button>
</form> 
</td>
<td></td>
</tr>

<tr>
<td  class="row1">
<form method="get" action="/character">
    <button type="submit">Character</button>
</form> 
</td>
<td></td>
<td></td>
</tr>

<tr>
<td style="height: 350px;"></td><td></td><td></td>
</tr>

<tr>
<td></td>
<td id="dialog_window" align="left">
<input name="chat" type="text" placeholder="Chat"></td>
<td></td>
</tr>

</body>
</html>