<!DOCTYPE html>
<html>

<head></head>

<body background="images/main.jpg">

<div id="header">
<h1 style="font-family:sans-serif; text-align:center"><font color="blue">Welcome to the Game!</font></h1>
</div> 

<br/>

<div>
<form method="get" action="/combat">
    <button type="submit">Start fight</button>
</form> <br>

<form method="get" action="/shop">
    <button type="submit">Armory shop</button>
</form> <br>

<form method="get" action="/futher">
    <button type="submit">Go futher</button>
</form> <br>

<form method="get" action="/map">
    <button type="submit">Map</button>
</form> <br>

<form method="get" action="/save">
    <button type="submit">Save</button>
</form> <br>
</div>


<br/>

</body>