<!DOCTYPE html>
<html lang="en">

<head>
	<title>Game</title>
  	<link rel="stylesheet" type="text/css" href="index.css">

</head>

<body>

<div>
<h1>Welcome to the Game!</h1>
</div> 

<img id='map' src='/images/map.jpg' usemap='map' alt='Map of the world'> 
<map name="map">
  <area shape="circle" coords="499, 441, 15" alt="Valley of Silence" href="google.com">
</map>

<form method="get" action="/login">
    <button type="submit">Login</button>
    </form>	

	<form method="get" action="/combat">
    <button type="submit">Start fight</button>
    </form>

	<form method="get" action="/shop">
    <button type="submit">Shop</button>
</form> 

<form method="post" action="/character">
    <button type="submit">Character</button>
</form> 



<footer>
</footer>

</body>
</html> 
              
            