<!DOCTYPE html>
<html>

<head>
	<title>Game</title>
  	<link rel="stylesheet" type="text/css" href="style1.css">

</head>

<body>

<div id="header">
<h1>Welcome to the Game!</h1>
</div> 

<br/>
<br>
<br>

<table id="command_chat" border="1" cellpadding="0" cellspacing="0">
<tr>
<td id="map" width="900" height="400" vertical-align="top"></td>
</tr>
<tr>
<td name="dialog_window" id="dialog_window" width="900" height="30" align="left">
<input name="chat" type="text" placeholder="Chat"><td>
</tr>
</table>

<div class="form-group">
<form method="post" action="/login">

<label></label>
<input name="login" type="text" class="form-control" placeholder="Your login">
<br>

<label></label>
<input name="password" type="text" class="form-control" placeholder="Your password">

<br>
<br>
    <button type="submit">Log in</button>
</form> 
<div>

<br>
<div>
<form method="get" action="/combat">
    <button type="submit">Start fight</button>
    </form>
 <br>


<form method="get" action="/shop">
    <button type="submit">Shop</button>
</form> <br>

<form method="get" action="/character">
    <button type="submit">Character</button>
</form> <br>

</form> <br>
</div>


<br/>

</body>