<!DOCTYPE html>
<html lang="en">

<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>

<main>
<p><span id='error'><%= @error %></span></p>


<form method="post" action="/login">
	<label for="login"><font color="black">Your login:</font></label>
	<input id="login" name="login" type="text" class="form-control"><br>
	

	<label for='password'><font color="black">Your password:</font></label>
	<input id='password' name="password" type="password" class="form-control"><br><br>
	<button type="submit">Log in</button></form> 

 	<form method="get" action="/registration">
 	<button type="submit">Registration</button></form>

</main>

</body>