<!DOCTYPE html>
<html>

<head>
<title>Shop</title>
<link rel="stylesheet" type="text/css" href="shop.css">
</head>

<body>
<div>
<h1>Shop</h1>
</div>
	

<table id='shop'>
	<caption><b>Item list:</b></caption>
<tr>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription: <br>type,<br> stats,<br> requirement<br></td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>

</tr>

<tr>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>

</tr>

<tr>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>

</tr>

<tr>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>
	<td class='item'>Name of thing:</td>
	<td class='description'>Decription:</td>

</tr>

</table>

<p><a href='..'>Go back</a></p>

</body>
</html>