body {
	background-color: #acb5c4;
}
img {
	border-color: black;
	border-width: 2px;
	border-collapse: collapse;
	border-style: solid;
}
button {
	font-size: 1.5em;
	border-color: black;
	border-width: 2px;
	border-collapse: collapse;
	border-style: solid;
}