body{
	font-size: medium;
}
main{
	text-align: center;
	margin-top: 300px;
}
input, button{
	font-size: 0.9em;
}
#login{
	margin-left: 37px;
}
#error{
	background-color: #f75b4a;
	border: 3px solid #ef1e07;
	padding: 5px;
}
#error:empty{
	background-color: white;
	border: none;
}
