
body{
	background-color: brown;
	font-size: 16pt;
}

h1{
	text-align:center;
}

.item{
	border-collapse: collapse;
	border: 3px solid black;
	height: 150px;
	width: 150px;
}

.description{
	border-collapse: collapse;
	border: 3px solid black;
	width: 450px;
	text-align: left;
	vertical-align: top;
}

#shop{
}