
body{
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url('/images/main.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h1{
	font-family:sans-serif;
	text-align:center;
	font-size: 300%;
	color: blue;
}

button{
	font-size: 150%;
	color: blue;
	border: 1px solid powderblue;
    padding: 10px;
    background-color: yellow;
    font-family: arial;
}

.form-group{
	line-height:0.85;
}

#char_info{
	color: yellow;
	font-size:150%;
}

#inventory{
	display: inline;
	color: yellow;
	float:right;
	font-size:150%;
	text-align:center;
	margin-right: 60px;
}
