<div class="shopWrap" style="display:none;">
<table>
  <caption>Item list:</caption>
<tr>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription: <br>type,<br> stats,<br> requirement<br></td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>

</tr>

<tr>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>

</tr>

<tr>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>

</tr>

<tr>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>
  <td class="shopWrap-item"><button>BUY</button></td>
  <td class="shopWrap-description">Decription:</td>

</tr>

</table></div>

<div class="battleWrap" style="display: none;">