<!DOCTYPE html>
<html lang="en">

<head>
	<title>Game</title>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="all.css">
</head>

<body>
<header>
<nav class="panel">
  <button class="panel-menuToggle">Menu</button>
  <div class="panel-menuWrap">
    <button class="panel-mapButton">World Map</button>
    <button class="panel-charButton">Character</button>
    <button class="panel-shopButton">Shop</button>
    <button class="panel-arenaButton">Arena</button>
    <button class="panel-huntButton">Hunt</button>
    <button class="panel-locationButton">Location</button>
  </div>
</nav>
</header>

<main>



</main>
<footer>
  <div id="systemMessageWindow" title="System messages">
  <span>System message window.</span>
  </div>
</footer>
<script src="all.js"></script>
</body>
</html> 
              
            