.battleWrap{
	background-color: #8f000c;
	height: 100%;
	border-collapse: collapse;
	.battleWrap-mainWindow{
		box-sizing: border-box;
		border: 1px solid black;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
	}
		.battleWrap-playerWindow{
			border: 1px solid blue;
			width: 40%;
			height: 100%;
		}
		.battleWrap-battleLog{
			border: 1px solid purple;
			width: 30%;
			height: 100%;
		}
		.battleWrap-enemyWindow{
			border: 1px solid green;
			width: 40%;
			height: 100%;
		}
}