.charWrap{
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url('images/character.jpg');
    font-size: 1.3rem;
    height: 100%;

    td{
    	border: 1px solid black;
    	width: 100px;
    	height: 100px;
    }

    .charWrap__mainInfo{
    	display: flex;
    	justify-content: flex-start;
    	flex-wrap: wrap;
        padding: 10px;
    }
    .charWrap__mainInfo_basic-info{
        padding: 10px;
    }
    .charWrap__mainInfo_stats{
        padding: 10px;
    }
    .charWrap__mainInfo_attributes{
        padding: 10px;
    }
    .charWrap__mainInfo_inventory{

    	caption{
			color: black;
			font-size:140%;
			font-weight: bold;
		}
    	td{

    	}
    } 
	.charWrap__mainInfo_backpack{
        padding: 10px;
		td{

		}

	}
	.charWrap__mainInfo_attributes {
        padding: 10px;

		input[value="+"]{
		cursor: pointer;
		}
	}
}