.shopWrap{
	background-color: #9cb0ce;
	font-size: 1.3rem;
	border: 1px black solid;
	height: 100%;

	h1{
		text-align:center;
	}
	.shopWrap-item{
		border-collapse: collapse;
		border: 3px solid black;
		height: 150px;
		width: 150px;
	}
	.shopWrap-description{
		border-collapse: collapse;
		border: 3px solid black;
		width: 450px;
		text-align: left;
		vertical-align: top;
	}
	table caption{
		color: black;
		font-size:140%;
		font-weight: bold;
	}
	.shopWrap-item button{
		font-size: small;
		font-weight: bold;
		cursor: pointer;	
		}
	td.shopWrap-item{
		background-repeat:no-repeat;
	    background-size:cover;
	    display: flex;
	    align-items: flex-end;
		justify-content: flex-end;
	}
}